.admin-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

    .header {
        width: 100vw; 
        position: relative; 
        left: 0; 
        background: #f2e3e3be; 
        color: white;
        padding: 30px;
      
}

.admin-title {
    font-size: 2.5rem;
  font-weight: bold;
  color: #070f17;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  text-align: center;
}

.admin-subtitle {
    font-size: 1.3rem;
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}



/* log ut knapp - header */
.admin-logout {
    background: #333;
    color: white;
    position: absolute;
    right: 90px;
    top: 20px;
}

.admin-logout:hover {
    background: #222;
}

.admin-buttons {
    width: 100%;
  padding: 10px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* tabell bookingoversikt */ 
.admin-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .admin-table th {
    text-align: center;
  }
  
  /* tabelloverskrifter */
  .admin-table th {
    background-color: #070f17;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    text-align: left;
  }
  
  /* tabell-celler */
  .admin-table td, .admin-table th {
    padding: 12px;
    border: 1px solid #ddd; 
  }
  
  /* radfarger  */
  .admin-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* hover-effekt for rader */
  .admin-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* styling for rediger- og slett-knapper adminoversikt */
  .edit-button, .delete-button {
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .edit-button {
    background-color: #093914;
    color: white;
  }
  
  .edit-button:hover {
    background-color:  #0939147b;
  }
  
  .delete-button {
    background-color: #c71224;
    color: white;
    margin-left: 5px;
  }
  
  .delete-button:hover {
    background-color: #c7122481;
  }
  

