/* Login.jsx */ 

.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 800px;
    height: 400px;
    z-index: 1001;
}

.login-box input {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    color: black; 
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #070f17;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-box button:hover {
    background-color: #431f03;
} 


.login-message {
    font-size: 16px;
    font-weight: bold;
    color: rgb(203, 111, 6); 
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    display: block;
}

